/bin/Debug/Resources
/.vs
/bin/Debug/SocialLinker.exe
/bin/Debug/SocialLinker.exe
/bin/Debug/SocialLinker.exe
/bin/Debug/SocialLinker.pdb
/obj/Debug/SocialLinker.exe
/obj/Debug/SocialLinker.pdb
/obj/Debug/SocialLinker.csproj.AssemblyReference.cache
/obj/Debug/SocialLinker.csproj.CoreCompileInputs.cache
/obj/Debug/SocialLinker.csproj.FileListAbsolute.txt
/Commands/DevCommands.cs
